@model IEnumerable<SurveyApp.DataTransferObjects.Responses.SurveyStatisticResponse>
@{
    ViewData["Title"] = "Istatistics";
    int sayac = 1;
}

<h1>Anket Analizleri</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Anket </th>
            <th scope="col">Anket Yanıt Sayısı</th>
            <th scope="col">Aktiflik Durumu</th>
            <th>Analiz</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <th scope="row">@sayac</th>
                <td>@item.Title</td>
                <td>@item.AnswerCount</td>
                @if (item.IsActive)
                {
                    <td>Aktif</td>
                }
                else{
                    <td>Pasif</td>
                }  
                <td><a class="btn btn-outline-primary" href="/Survey/AnswerIstatistics/@item.SurveyID">Soru Analizleri</a></td>
            </tr>
            sayac++;
        }
    </tbody>
</table>

